# ISOs
infrastructure/iso-files/*.iso

# Packer Files
infrastructure/packer.log
infrastructure/packer_cache/*

# Vagrant Files
infrastructure/.vagrant
infrastructure/vagrant-boxes/*.box

# Virtual Machine Files
infrastructure/virtual-machines/*/*.nvram
infrastructure/virtual-machines/*/*.vmsd
infrastructure/virtual-machines/*/*.vmx
infrastructure/virtual-machines/*/*.vmxf
infrastructure/virtual-machines/*/*.vmdk